body {
    background-color: pink;
    margin: 0px 40px;
}

main {
    background-color: pink;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.portfolio {
    color: #28a745;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.resume {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

header img {
    width: 200px;
    height: auto;
    margin: 30px;
} 

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

i {
    font-size: 30px;
    margin-right: 20px;
}